.footer {
  color: white;
  font-size: 0.8rem;
}

#container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.container-footer-child {
  text-align: center;
  padding: 0 1rem;
}

@media (max-witdh: 500px) {
  .container-footer-child {
    padding: 0 1%;
  }
}
