@use "../home/home.component.scss" as home;

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: home.$third_event;
  margin: 0 1rem;
}
