@use '../../styles.scss' as styles;

.progress-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 20px;
  background-color: styles.$base;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 20rem auto 0;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, styles.$third_event 15%, styles.$second_birth 50%, styles.$third_death 85%); /* Color verde */
  transition: width 0.5s ease; /* Animación suave */
}

.progress-text {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: white;
}
