$first: rgb(3, 206, 164);
$second: rgb(145, 46, 208);
$third: rgb(255, 0, 113);

@keyframes slideInFromUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    //transform: translateY(-100%);
    //opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1s ease-out 1s 1 slideInFromUp;
}

#title {
  font-size: 6rem;
  background: linear-gradient(90deg, $first 0%, $second 50%, $third 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem;

}

#date {
  display: flex;
  font-size: 2.5rem;
  color: $first;
  align-items: center;
}

#year {
  margin: 0 1rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 900;
  color: $third;
}

#text {
  font-size: 2rem;
  background: linear-gradient(140deg, $third 0%, $second 50%, $first 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  margin: 2rem 18rem;
  animation: 1.5s ease-out 1s 1 slideInFromUp;
}

#refs {
  margin: 3rem 0 0 0;
  color: rgb(3, 206, 164);
  animation: 1.75s ease-out 1s 1 slideInFromUp;
}

#links {
  display: flex;
  flex-direction: row;
  margin: 2rem 20rem;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: 2s ease-out 1s 1 slideInFromUp;
}

#link {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: $second;
  margin: 0 1rem;
}

#links > #link {
  flex: 30%;
}
