<div class="container" [@listStagger] *ngIf="branches">
  <h1 id="title">Un día como hoy...</h1>
  <div id="year-controller">
    <button id="year-older" (click)="oldest()">Oldest</button>
    <button id="year-prev" (click)="prev()">Prev</button>
    <button id="year-next" (click)="next()">Next</button>
    <button id="year-newest" (click)="newest()">Newest</button>
  </div>
  <div id="branch-controller">
    <i class="fa-solid fa-arrow-left" (click)="prevBranch()"></i>
    <i class="fa-solid fa-arrow-right" (click)="nextBranch()"></i>
  </div>
  <div class="container" [@branchChange]="branchChange" (@branchChange.done)="branchChange = 'done'">
    <h1 id="date" [ngClass]="getColorByBranch(indexBranch).second">{{ formatDate() }}<span id="year"
        [ngClass]="getColorByBranch(indexBranch).first" [@dataChange]="dataStateYear"
        (@dataChange.done)="dataStateYear = 'done'">{{year}}</span></h1>
    <h1 id="concept" [ngClass]="getColorByBranch(indexBranch).third"> {{concept}} </h1>
    <history-item [text]="text" [references]="references" [indexBranch]="indexBranch" [@dataChange]="dataState"
      (@dataChange.done)="dataState = 'done'"></history-item>
  </div>
</div>
